<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="URL" value="http://instinctcoder.com" />
  <add key="email_Data_Dir" value = "C:\eCommerseIntegration\email_Data\" />
  <add key="SetupDir" value = "C:\eCommerseIntegration\Setup Files\" />
  <add key="ErrorFile" value = "C:\eCommerseIntegration\Error Files\Error.txt" />
  <add key="SeafoodHome" value ="Data Source= .\SQLEXPRESS; Initial Catalog=Seafood; Integrated Security=SSPI" />
  <add key="SeafoodChurch" value ="Data Source= .\SQLEXPRESS; Initial Catalog=Seafood; Integrated Security=SSPI" />
  <add key="eCom_EmailChurch" value ="Data Source=MenClub02;Initial Catalog=eCom_Email;Integrated Security=True" />
  <add key="eCom_EmailHome" value ="Data Source= .\SQLEXPRESS; Initial Catalog=eCom_Email; Integrated Security=SSPI" />
</appSettings>